services:
	elasticMapper:
	 	factory: Spameri\Elastic\Mapper\ElasticMapper

	insert:
		factory: Spameri\Elastic\Model\Insert

	insertMultiple:
		factory: Spameri\Elastic\Model\InsertMultiple

	prepareEntityArray:
		factory: Spameri\Elastic\Model\Insert\PrepareEntityArray

	applyTimestamp:
		factory: Spameri\Elastic\Model\Insert\ApplyTimestamp

	get:
		factory: Spameri\Elastic\Model\Get

	getBy:
		factory: Spameri\Elastic\Model\GetBy

	getAllBy:
		factory: Spameri\Elastic\Model\GetAllBy

	search:
		factory: Spameri\Elastic\Model\Search

	scroll:
		factory: Spameri\Elastic\Model\Scroll

	delete:
		factory: Spameri\Elastic\Model\Delete

	aggregate:
		factory: Spameri\Elastic\Model\Aggregate

	deleteMultiple:
		factory: Spameri\Elastic\Model\DeleteMultiple

	indiceClose:
		factory: Spameri\Elastic\Model\Indices\Close

	indiceOpen:
		factory: Spameri\Elastic\Model\Indices\Open

	indiceGet:
		factory: Spameri\Elastic\Model\Indices\Get

	indiceGetMapping:
		factory: Spameri\Elastic\Model\Indices\GetMapping

	indicePutMapping:
		factory: Spameri\Elastic\Model\Indices\PutMapping

	indicePutSettings:
		factory: Spameri\Elastic\Model\Indices\PutSettings

	indicesCreate:
		factory: Spameri\Elastic\Model\Indices\Create

	indicesDelete:
		factory: Spameri\Elastic\Model\Indices\Delete

	serviceLocator:
		factory: Spameri\Elastic\Model\ServiceLocator

	mapping:
		factory: Spameri\Elastic\Model\Mapping

	userProvider:
	 	factory: Spameri\Elastic\Model\NetteUserProvider

	neonSettingsProvider:
		factory: Spameri\Elastic\Settings\NeonSettingsProvider(%host%, %port%)

	clientProvider:
	 	factory: Spameri\Elastic\ClientProvider

	elasticPanelLogger:
		factory: Spameri\Elastic\Diagnostics\PanelLogger(@spameriElasticSearch.nullLogger)

	nullLogger:
		factory: Psr\Log\NullLogger

	elasticPanel:
		factory: Spameri\Elastic\Diagnostics\Panel

	validateMapping:
		factory: Spameri\Elastic\Model\ValidateMapping(%entities%, %settings%, ...)

	display:
		factory: Spameri\Elastic\Model\ValidateMapping\Display

	documentMigrateStatus:
		factory: Spameri\Elastic\Model\TypeToNewIndex\DocumentMigrateStatus

	migrate:
		factory: Spameri\Elastic\Model\TypeToNewIndex\Migrate

	modelDumpIndex:
		factory: \Spameri\Elastic\Model\DumpIndex

	restoreIndex:
		factory: \Spameri\Elastic\Model\RestoreIndex

#	###
#	Commands
#	###

	createIndex:
		factory: Spameri\Elastic\Commands\CreateIndex(%entities%)

	updateMapping:
		factory: Spameri\Elastic\Commands\UpdateMapping(%entities%)

	deleteIndex:
		factory: Spameri\Elastic\Commands\DeleteIndex

	addAlias:
		factory: Spameri\Elastic\Commands\AddAlias

	removeAlias:
		factory: Spameri\Elastic\Commands\RemoveAlias

	validateMappingCommand:
		factory: Spameri\Elastic\Commands\ValidateMapping

	typeToNewIndex:
		factory: Spameri\Elastic\Commands\TypeToNewIndex

	dumpIndex:
		factory: Spameri\Elastic\Commands\DumpIndex

	loadDump:
		factory: Spameri\Elastic\Commands\LoadDump

#	###
#	Spameri/ElasticQuery
#	###

	resultMapper:
		factory: Spameri\ElasticQuery\Response\ResultMapper

#	###
#	Elastic/Elastic
#	###

	clientBuilder:
	 	factory: Elasticsearch\ClientBuilder
	 	setup:
	 		- setLogger(@spameriElasticSearch.elasticPanelLogger)

	dateTimeProvider:
		factory: Spameri\Elastic\Provider\DateTimeProvider(@spameriElasticSearch.dateTime)

	dateTime:
		factory: \DateTimeImmutable

	nullOutput:
		factory: Symfony\Component\Console\Output\NullOutput

	consoleOutput:
		factory: Symfony\Component\Console\Output\ConsoleOutput

	nullLoggerHandler:
		factory: Spameri\Elastic\Import\Run\NullLoggerHandler

	nullLock:
		factory: Spameri\Elastic\Import\Lock\NullLock

	nullHandler:
		factory: Spameri\Elastic\Import\RunHandler\NullHandler

	consoleHandler:
		factory: Spameri\Elastic\Import\RunHandler\ConsoleHandler

	nullAfterImport:
		factory: Spameri\Elastic\Import\AfterImport\NullAfterImport
